:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1f1f1f;
  background-color: #ffffff;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #6e6e6e;
  text-decoration: inherit;
}

a:hover {
  color: #292929;
}

body {
  display: flex;
  place-items: flex-start;
  justify-content: center;
  min-width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 0.7;
  text-align: center;
  margin-top: 50px;
}

#ag-grid-table {
  margin-top: 20px;
  width: 700px;
  height: 300px;
  margin: auto;
}
