:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #292929;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #428cc9;
  text-decoration: inherit;
}
a:hover {
  color: #292929;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

table {
  margin-top: 20px;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  border-bottom: solid 1px #dadada;

}

td, th {
  border-bottom: solid 1px #dadada;
  padding: 5px;
}

tr:hover {
  background-color: #ebebeb;
}

label {
  margin-left: 15px;
  padding: 3px
}

#add-button {
  margin: 15px;
}

#del-button {
  float: right;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ececec;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d1d1d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

